
.expand {
	width: 100%;
	height: 100% !important;
	background-image:	url(/images/welcome_cropped.jpg);
	background-repeat:	no-repeat;
    background-size:	cover;
}

.modal-body p small {
	color: #777;
}

.modal-body button {
	margin-bottom: 0px;
}

.modal-body p {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #404040;
}

.modal-header {
	border: none;
}

.modal-footer {
	position: absolute;
    bottom: 0; 
    width: 100%;
}

.modal-footer p {
	color: #777;
	font-size: 1.2em;
	display: inline-block;
}

.modal-footer a {
	font-size: 0.8em;
	color: #777;
}

.modal-footer a:hover {
	text-decoration: none;
}

.modal-content {
	height:	80%;
	border-radius: 3px;
}

.modal-dialog	{
	height:	80%;
	height:	80%;
	overflow-y: initial !important;
}


@media(min-width: 767px) {
	.modal-content {
		height:	400px;
	}

	.modal-dialog	{
		height: 400px;
		width: 400px;
	}

}

.facebook-button {
	text-align: center;
	margin: 30px 0px 20px 0px;
	height: 50px;
	width: 100%;
	padding: 12.5px; 
	background: linear-gradient(#4c69ba, #3b55a0);
	border-radius: 1px;
}

.bottom-align-text {
  position: absolute;
  bottom: 15px;
}

.modal-body	{
	height: 218px;
	overflow-y: auto;
}

.modal {
display: block;
}

.white, .white a {
  color: #fff;
}

.tags-modal h3, p {
	text-align: center;
}

.tags-modal p {
	color: #404040;
}

 /*Tags List*/

.tags-list {
	margin-top: 10px;
}

.tags-list ul {
	padding: 0px;
}

.tags-list li {
	margin-left: auto;
	margin-right: auto;
}

.tags-list li span {
	font-weight: bold;
}

/*Email Modal*/

.email-modal {
	text-align: center;
}

.email-modal img {
	width: 25%;
	height: auto;
	opacity: 0.5;
	margin-top: -20px;
	margin-bottom: 20px;
}

/*Welcome Modal*/

.welcome-modal {
	text-align: center;
}

.welcome-modal h1 {
	color: white;
	margin-top: 50px;
}

.welcome-modal img {
	margin-top: 30px;
}