

<form ng-submit="submit()">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="myObject.text" placeholder="e.g. Physics">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit" ng-click="submit()">Add</button>
    </span>
  </div>
</form>

<div class="tags-list">
  <ul>
    <ul class="list-inline">
      <li ng-repeat="entry in list">
          <button class="btn btn-default btn-sm" ng-click="undoIngredient(entry)">{{entry}} 
            <span aria-hidden="true">&#10799;</span>
          </button>
      </li>
  </ul>
  </ul>
</div>
      
 




  